/* chat component */
.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
}
.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #7cc5d9;
  color: #1c2c4c;
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px #4c768d;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #fff;
  box-shadow: -2px 2px 1px 1px #88dded;
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: #1c2c4c;
}
.user-message {
  font-size: 1rem;
}
.message-time {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}

 /* Hide MessageForm when scrolling up */
.hidden {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

/* Show MessageForm when at the bottom */
.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
  

 
@media screen and (max-width: 768px) {

  .user-name {
    font-size: 1rem;
  }
  .user-message {
    font-size: 0.8rem;
  }
  .message-time {
    font-size: 0.6rem;
  }
}